/* General container style */

.tasklist-container{
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: transparent;
  width: 60vw;
  height: max-content;
  order: 1;
}

.refresh.light {
  justify-content: center;
  order: 2;
  height: max-content;
  border: none;
}

.refresh-button.light  {
  z-index: 1;
  right: 1vw;
  background-color: hwb(0 94% 6% / 0.534); /* Light gray background */
  color: #333; /* Dark gray text */
  padding: 10px 15px; /* Added missing semicolon */
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  box-shadow: 
    6px 6px 12px #cbced1, 
    -6px -6px 12px #ffffff; 
  border: none;
}

.refresh-button.light:hover {
  background-color: rgb(15, 236, 218); /* Slightly darker gray background on hover */
}

.refresh-button.light .FaSyncAlt {
  margin-right: 8px;
}


.task-card.light{
  position: relative;
  background-color: #00ebdf; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  color: #333; /* Dark gray text */
  padding: 20px;
  margin: 30px;
  height: max-content;
  width: max-content;
  order: 1;
  transition: all 0.2s ease;
}



.task-card.light:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}

.task-title.light {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #000; /* Black text */
}

.task-details.light {
  font-size: 14px; /* Smaller font size */
  color: #666; /* Light gray text */
}

.task-details.light  p {
  margin: 5px 0;
  font-size: 0.9rem; /* Slightly smaller font size */
}

.task-details.light  p strong {
  color: #000; /* Black text */
  font-weight: bold; /* Bold text */
}

.button-container.light  {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}


.delete-button.light {
  background-color: #fff; /* White background */
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ff0000; /* Red color */
  font-size: 16px;
  outline: none;
}



.delete-button.light:hover {
  background-color: #ffcccc; /* Light red background on hover */
}


.edit-button.light {
  background-color: #fff; /* White background */
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #007bff; /* Blue color */
  font-size: 16px;
  outline: none;
}




.edit-button.light:hover {
  background-color: #cce5ff; /* Light blue background on hover */
}

.modal.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75); /* Lighter background for modal */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal appears on top */
}

.modal-content.light {
  width: max-content;
  height: max-content;
  background-color: #fff; /* White background */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  color: #333; /* Dark gray text */
  position: relative; /* Ensure the close button is positioned relative to the modal content */
}
.edit.light {
  padding: 10px;
  color: #ff0000; /* Red color */
  text-transform: capitalize;
}

.edit-form.light  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form.light  input {
  border-radius: 4px;
  width: calc(100% - 70px);
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  box-sizing: border-box;
  color: #333; /* Dark gray text */
  font-size: 16px;
  line-height: 1;
  outline: none;
  background-color: #f0f0f0; /* Light gray background */
  box-shadow: 
      6px 6px 12px #cbced1, 
      -6px -6px 12px #ffffff;
  transition: all 0.2s ease;
}

.edit-form.light  input:hover {
  background-color: #ffffff; /* White background */
  box-shadow: 
      6px 6px 12px #cbced1, 
      -6px -6px 12px #ffffff,
      2px 2px 4px rgba(0, 0, 0, 0.1),
      -2px -2px 4px rgba(255, 255, 255, 0.1);
}

.edit-form.light  button {
  padding: 8px 16px;
  background-color: #f0f0f0; /* Light gray background */
  color: #ff0000; /* Red color */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 
      6px 6px 12px #cbced1, 
      -6px -6px 12px #ffffff;
  transition: all 0.2s ease;
}

.edit-form.light  button:hover {
  background-color: #ffffff; /* White background */
  color: #00ff00; /* Green color */
  box-shadow: 
      6px 6px 12px #cbced1, 
      -6px -6px 12px #ffffff,
      2px 2px 4px rgba(0, 0, 0, 0.1),
      -2px -2px 4px rgba(255, 255, 255, 0.1);
}

.close-button.light  {
  background-color: transparent; /* Transparent background */
  border: none;
  color: #000; /* Black text */
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-button.light :hover {
  color: #ff0000; /* Red color on hover */
}


.refresh.dark {
  justify-content: center;
  order: 2;
  height: max-content ;
}

.refresh-button.dark {
  z-index: 1;   
  right: 1vw;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a;
      transition: all 0.2s ease;
}

.refresh-button.dark:hover {   
  color:#f09;
  box-shadow: 
  4px 4px 6px #0e0e0e,
  -4px -4px 6px #2a2a2a,
  2px 2px 4px rgba(255, 255, 255, 0.2),
  -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.refresh-button.dark .FaSyncAlt {
  margin-right: 8px;
}

.task-card.dark {
  position: relative;
  background-color: #1e1e1e;
  border-radius: 20px;
  box-shadow: 
      6px 6px 12px #0e0e0e,
      -6px -6px 12px #2a2a2a;
  color: #ffffff;
  padding: 20px;
  margin: 30px;
  height: max-content;
  width: max-content;
  order: 1;
  transition: all 0.2s ease;
}

.task-card.dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-title.dark {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.task-details.dark {
  font-size: 1vh;
  color: #fdf9f9;
}

.task-details.dark p {
  margin: 5px 0;
  font-size: 0.8rem;
}

.task-details.dark p strong {
  color: #fffdfd;
  font-size: 0.8rem;
}

.button-container.dark {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.delete-button.dark {
  background-color: #1e1e1e;
  border: none;
  border-radius: 50%;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
}

.delete-button.dark:hover{
  color: #f09;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a,
      2px 2px 4px rgba(255, 255, 255, 0.2),
      -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.edit-button.dark {
  background-color: #1e1e1e;
  border: none;
  border-radius: 50%;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
}

.edit-button.dark:hover{
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a,
      2px 2px 4px rgba(255, 255, 255, 0.2),
      -2px -2px 4px rgba(0, 0, 0, 0.2);
  color:#0ff;
}

.modal.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.75); /* Darker background for modal */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;;
}

.modal-content.dark {
  width: max-content;
  height: max-content;
  background-color: #1e1e1e; /* Match the task card background color */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 
      6px 6px 12px #0e0e0e,
      -6px -6px 12px #2a2a2a;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #ffffff;
  position: relative;
}

.edit.dark {
  padding: 10px;
  color: #f09;
  text-transform: capitalize;
}

.edit-form.dark {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form.dark input {
  border-radius: 4px;
  width: calc(100% - 70px);
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  outline: none;
  background-color: #1e1e1e; /* Match the modal background color */
  box-shadow: 
      inset 4px 4px 6px #0e0e0e,
      inset -4px -4px 6px #2a2a2a; /* Added missing semicolon */
  transition: all 0.2s ease;
}

.edit-form.dark input:hover {
  background-color: #1e1e1e;
  box-shadow: 
      inset 4px 4px 6px #0e0e0e,
      inset -4px -4px 6px #2a2a2a,
      2px 2px 4px rgba(255, 255, 255, 0.2),
      -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.edit-form.dark button {
  padding: 8px 16px;
  background-color: #1e1e1e; /* Match the button color of other elements */
  color: #f09;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a;
  transition: all 0.2s ease;
}

.edit-form.dark button:hover {
  background-color: #1e1e1e;
  color: #0ff;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a,
      2px 2px 4px rgba(255, 255, 255, 0.2),
      -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.close-button.dark {
  background-color: #1e1e1e; /* Match the modal background color */
  border: none;
  position: absolute;
  align-items: center;
  color: #0ff;
  top: 10px;
  right: 10px;
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 1; 
}

.close-icon.dark {
  font-size: 1.4rem;
}

.close-button.dark:hover {
  color: #0ff;
  box-shadow: 
      4px 4px 6px #0e0e0e,
      -4px -4px 6px #2a2a2a,
      2px 2px 4px rgba(255, 255, 255, 0.2),
      -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.form-group.dark {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

label.dark {
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
}

